html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
}



.sidebar{
	padding-bottom: 10px;
}

.logo{
	width: 200px;
	height:auto;
}

.img-circle{
	border-radius: 100%;
}

.user-image{
	width: 40px;
}

.user-img{
	width:100px;
}
